.env


agarderdeCotePourPlusTard.py
1.json
2.json
runes.json
__pycache__/

zeri_features/zeri_ia/ia/*

cmd.txt

test.json

error_log.txt

Image/apod/*



.vscode/*
__pycache__/*


update.log
update.sh
env/*
